.footer {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #fff;
}

.footer span {
    font-weight: bold;
    color: black;
}
.footer p {
    font-weight: bold;
    color: black;
}